
<div class="container note-form-container">
    <h2 class="text-center mb-4">Verify Email</h2>
    <form class="form-group" [formGroup]="emailform" (submit)="submit()">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" id="Email" placeholder="Enter Email" required
                formControlName="Email">
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary btn-block m-3 w-25 text-center">Submit</button>
        </div>
    </form>
</div>