/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f8f9fa;
}
.note-form-container {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}